/* App.css */

/* Light and Dark Theme Variables */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background-color: #282c34;
  --header-text-color: #ffffff;
  --highlight-color: #f0f0f0;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-background-color: #1f1f1f;
  --header-text-color: #bbbbbb;
  --highlight-color: #333333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  padding: 10px;
  text-align: center;
}

/* Animation for movie cards */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie {
  background: var(--highlight-color);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 0.5s ease-in-out forwards;
  opacity: 0;
  transform: translateY(20px);
}

.movie:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Search bar styles */
.search-bar {
  margin: 20px auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

/* Pagination styles */
.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
}

/* Favorites list */
.favorites {
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 600px) {
  .movie {
    width: 100%;
  }

  .movies {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    flex-direction: column;
  }

  .search-bar input {
    width: 100%;
    margin-bottom: 10px;
  }
}

.search-history {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background-color: var(--highlight-color);
  border-radius: 8px;
}

.search-history h3 {
  margin-top: 0;
}

.search-history ul {
  list-style-type: none;
  padding: 0;
}

.search-history li {
  cursor: pointer;
  padding: 5px 0;
  border-bottom: 1px solid var(--header-background-color);
}

.search-history li:hover {
  color: var(--header-text-color);
}

.clear-history {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  border: none;
  border-radius: 4px;
}

.clear-history:hover {
  background-color: var(--header-text-color);
  color: var(--header-background-color);

}